extends ./layout.jade
include ./includes/mixins.jade

block title
    title= 'Reditaru - Category '+category.name+' -'

block content
    h1.ui.header= '目录  '+ category.name
    mixin article_list(category.articles)
