.articles .item{
    margin-top: 5%;
}
.articles .description{
    color:grey;
    overflow-x: visible;
    white-space: initial;
}
.articles .info,.article .info{
    color: #c6c6c6;
}
.articles .tags,.article .tags{
    margin-top: 5px;
    margin-bottom: 5px;
}
.article {
    margin-top: 5%;
}